@import '../../assets/variables';

.input {
  padding-bottom: 10px;
  &__wrap {
    height: 26px;
    margin-top: 8px;
    border-bottom: 1px solid $link-color;
  }
  &__title {
    font: $font-nano;
    color: $text-light-color;
  }
  &__title__user {
    display: block;
    color: $text-color;
    margin-top: 10px;
    margin-right: 45px;
    width: 80px;
  }
}

.input__wrap__error {
  height: 26px;
  margin-top: 8px;
  border: 1px solid $text-red;
}
