@import '../../assets/variables';

.menu-wrap {
    position: absolute;
    left: 60%;
    width: 25px;
    height: 25px;
}

.menu {
    width: 25px;
    height: 25px;
    border: 1px solid $text-light-color;
    border-radius: 50%;
}

.menu-line {
    width: 12px;
    margin-bottom: 0px;
    margin-top: 5px;
}
