<main>
  <div class="user-image"></div>
  <div class="wrap">
    {{> UserData name="Почта" value="yandex@pochta.ru"}}
    {{> UserData name="Логин" value="ivanivanov"}}
    {{> UserData name="Имя" value="Иван"}}
    {{> UserData name="Фамилия" value="Иванов"}}
    {{> UserData name="Имя в чате" value="Иван Иванов"}}
    {{> UserData name="Телефон" value="+7 999 212 85 06"}}
  </div>
  {{> Button text="Сохранить" }}
</main>

