@import '../../assets/variables';

.dialog {
  background: $dialog-bgcolor;
  box-shadow: $dialog-shadow;
  border-radius: 12px;
  padding: 30px;
}

.list-item {
  padding-left: 25px;
  padding-right: 25px;
  display: inline;
}

.login-page {
  width: 280px;
  height: 390px;
  display: flex;
  flex-direction: column;
  
  &__content {
    flex: 1;
  }
  
  &__input {
    margin-top: 16px;
  }
}

.nav-link {
  color: $link-color;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
