.user-option {
    height: 30px;
    color: #3369f3;
    cursor: pointer;

    &__red {
        color: #F00;
        cursor: pointer;
    }

    &__error {
        margin-top: 25px;
        margin-left: 30%;
    }
}
