@import "../../assets/variables";

.input-field {
  outline: none;
  border: none;
  border-bottom: 1px solid $link-color;
  padding-left: 4px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font: inherit;
}

.input-field:focus {
  border: 1px solid $link-color;
}

.input-field-message {
  outline: none;
  border: none;
  border-radius: 5%;
  background-color: $divider-line-color;
  width: 600px;
  margin-left: 15px;
}

.input-field-image {
  opacity: 0;
  z-index: -1;
  height: 100px;
  width: 100px;
}

.input-field-image-low {
  opacity: 0;
  z-index: -1;
  height: 13px;
  width: 150px;
}
