.main {
    display: flex;
    width: 100%;
}

.profile-page {
    width: 90%;
    padding-top: 45px;
}

.info-wrap {
    width: 402px;
    margin-left: auto;
    margin-right: auto;
}

.options-wrap {
    width: 402px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}
