@import '../../assets/variables';

.list-message {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.chat-option {
    padding: 15px 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
