@import '../../assets/variables.scss';

.message {
    border: 1px solid $text-light-color;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    background-color: $menu-button-bgcolor;
    &__me{
        border: 1px solid $link-color-light;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;
        background-color: $background-blue;
        width: 100%;
    }
}
